body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color: #202430;
    font-weight: 100;
    font-style: normal;
}


.header{
    width: 90%%;
    background-color:#d6ebd7;
    border-radius: 6px;
    

}

.main {

}

.footer {

}

